html{
	font-size:1.5rem;
	font-weight: bold;
}
div.row {
	box-sizing: content-box;
}
table {
	font-size:0.9rem;
}
.form-check-inline {
	margin-left: 0;
	margin-right: 0;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 0;
}
